@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Explora&family=Great+Vibes&family=Poppins:wght@300;400;500;600&display=swap");
footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer > a {
  font-family: "Great Vibes", cursive;
  font-weight: bolder;
}
footer a {
  color: var(--color-bg);
}
.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer__socials {
  width: max-content;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  margin-bottom: 4rem;
}
.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}
.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}
@media screen and (max-width: 1024px) {
  .footer__socials {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.2rem;
  }
  .footer__socials {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem;
  }
}
